<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        input{
        padding: 4px;
        margin: 2px;
    }

#course{
    
  
   padding: 10px;
  
}


.cse{
   background-color:  rgb(192, 65, 230);
    padding-top: 20px;
    padding-left: 20px;
    margin: 20px;
    text-align: center;
    
   border-radius: 20px;
    }
.cse a{
   padding: 10px;
   margin: 10px;
   
}
.cse input:hover{
    background: chocolate;
  
}


.civil{
    background:  rgb(192, 65, 230);
    padding-top: 20px;
    padding-left: 20px;
    margin: 20px;
    text-align: center;
}
.civil a{
    padding: 10px;
    margin: 10px;
   
 }
 .civil input:hover{
    background: chocolate;
}

 .electronics{
    background:  rgb(192, 65, 230);
    padding-top: 20px;
    padding-left: 20px;
    margin: 20px;
    text-align: center;
}
.electronics a{
    padding: 10px;
    margin: 10px;
   
 }
 .electronics input:hover{
    background: chocolate;
}

.bbA{
    background:  rgb(192, 65, 230);
     padding-top: 20px;
     padding-left: 20px;
     margin: 20px;
     text-align: center;
    
 }
 .bbA a{
    padding: 10px;
    margin: 10px;
    
    
 }
 .bbA input:hover{
    background: chocolate;
}

 .bcA{
    background: rgb(192, 65, 230);
     padding-top: 20px;
     padding-left: 20px;
     margin: 20px;
     text-align: center;
   
 }
 .bcA a{
    padding: 10px;
    margin: 10px;
   
 }
 .bcA input:hover{
    background: chocolate;
}

 .mbA{
    background: rgb(192, 65, 230);
     padding-top: 20px;
     padding-left: 20px;
     margin: 20px;
     text-align: center;
   
 }
 .mbA a{
    padding: 10px;
    margin: 10px;
    
 }
 .mbA input:hover{
    background: chocolate;
}

 .llB{
    background: rgb(192, 65, 230);
     padding-top: 20px;
     padding-left: 20px;
     margin: 20px;
     text-align: center;
   
 }
 .llB a{
    padding: 10px;
    margin: 10px;
  
 }
 .llb input:hover{
     background: chocolate;
 }

    </style>
</head>
<body style="background-color:rgb(199, 224, 141); font-family: 'Playball', cursive;">
    <section id="course" class="course">
        <h1 style="text-align: center">SELECT COURSE FOR QUESTION-PAPER</h1>
        
            <div class="btech">
            
            <div class="cse"><h4>B.TECH</h4>
            <a href="/question-papers"><input type="button" value="SELECT"></a> 
            
            </div>
         
                <div class="bba">
                    
                <div class="bbA"><h4>BACHELORS OF BUSINESS ADMINISTRATION</h4>
                <a href="/question-papers/bba"><input type="button" value="SELECT"></a> 
                
                </div>
                
            </div>
            

            <div class="bca">
                
                <div class="bcA"><h4>BACHELORS OF COMPUTER APPLICATION</h4>
                <a href="/question-papers/bca"><input type="button" value="SELECT"></a> 
            </div>
            </div>
            
            <div class="mba">
                
                <div class="mbA"><h4>MASTERS OF COMPUTER APPLICATION</h4>
                <a href="/question-papers/mca"><input type="button" value="SELECT"></a> 
            </div>
            </div>
            
            <div class="llb">
                
                <div class="llB"><h4>BACHELORS OF LAW</h4>
                <a href="/question-papers/llb"><input type="button" value="SELECT"></a> 
            </div>
            </div>
     </section>

    
</body>
</html>